<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
     <h2>Opearion failed due to following errors:</h2>
    <h3><%= @message %></h3>
    <p>
      Visit <%= link_to "web site ", new_admin_user_session_url %> to view changes.
    </p>
    <p>Thanks!! have a great day!</p>
  </body>
</html>
